body {
  font-family: 'Inter', sans-serif;
}


.navigation {
    display: flex;
    justify-content: space-between;}
nav > a ,nav > img {
    margin-top : 1.875rem;
}
a {
    text-decoration: none;
    color: black;
}
.header_button {
    width: 150px;
    height: 50px;
    margin-top: 1.25rem;
    background-color: #034bff;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;    
}
.search_icon {
    margin-right: -20px;
}
.main_link {
    text-decoration: none;
    color: #034BFF;
    border-bottom: 2px solid #034BFF;
    height: 30px;
}
